/***** Bootstrap *****/
    // Required
    @import "../node_modules/bootstrap/scss/functions";

    // Bootstrap override
    $primary: #212529;
    $secondary: darkgray;
    $theme-colors: ("primary": $primary, "secondary": $secondary);

    // Custom bootstrap
    $tertiary: #198754;
    $custom-colors: ( "tertiary": $tertiary );
    $theme-colors: map-merge($theme-colors, $custom-colors);
    .bg-tertiary {
        background-color: #666;
    }

    // Required
    @import "../node_modules/bootstrap/scss/variables";
    @import "../node_modules/bootstrap/scss/mixins";

    @import "../node_modules/bootstrap/scss/root";
    @import "../node_modules/bootstrap/scss/reboot";
    @import "../node_modules/bootstrap/scss/type";
    @import "../node_modules/bootstrap/scss/images";
    @import "../node_modules/bootstrap/scss/containers";
    @import "../node_modules/bootstrap/scss/grid";

/***** Site-wide custom styling *****/

